<!doctype html>
<html lang="en">
  <head>
    <%- include("../partials/header") %>
      <title>Register</title>
  </head>
  <body>
    <section id="booking-session-options" class="w-[100dvw] flex justify-center py-20">
        <form class="border-1 rounded shadow-md " action="/login" method="post">
            <h2 class="text-3xl text-center">Sign Up</h2>
            
        </form>
    </section>
  </body>
</html>
